@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

/*navbar styleing*/
.navbar {
  position: fixed;
  width: 100%;
  padding: 15px;
  background-color: black;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;
}

.navbar.sticky {
  padding: 15px;
  background: crimson;
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}

.navbar .menu li a:hover {
  color: purple;
}
/*menu btn styling*/
.menu-btn {
  color: #fff;
  font-size: 50px;
  cursor: pointer;
  display: none;
}
/*home section styiling*/
.home {
  display: flex;
  background: url(images/homeB.jpg) no-repeat center;
  background-size: cover;
  height: 100vh;
  min-height: 500px;
}
.home .max-width {
  margin: auto 0 auto 40px;
}
.home .home-content .text-1 {
  font-size: 80px;
  font-weight: 500;
  padding: auto;
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.home .home-content .text-2 {
  font-size: 120px;
  font-weight: 500;
  color: crimson;
  margin-left: -3px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.home .home-content .text-3 {
  font-size: 30px;
  font-weight: 500;
  color: white;
  margin: 5px 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

/*about section contents and style*/

.t1 {
  color: white;
  font-family: "Poppins", sans-serif;
  padding-top: 50px;
  padding-bottom: 50px;
  font-weight: 500;
  font-size: 72px;
  text-align: center;
}
.img1 {
  height: 400px;
  width: 400px;
  object-fit: cover;
}

/*responcive media*/
@media (max-width: 1104px) {
  .home .max-width {
    margin-left: 0px;
  }
}
@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
}
@media (max-width: 947px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .max-width {
    padding: 0 50px;
  }
  .menu-btn i.active::before {
    content: "\f00d";
  }
  .navbar .menu {
    text-align: center;
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
}
@media (max-width: 500px) {
  .max-width {
    padding: 0 20px;
  }
  .home .home-content .text-1 {
    font-size: 40px;
  }
  .home .home-content .text-2 {
    font-size: 60px;
  }
  .home .home-content .text-3 {
    font-size: 15px;
  }
}
